@import '../../index.scss';

.nav-link{
    transition: all 0.3s linear;
    &:hover {
        color: $mainGreen;
    }
}
.active {
    color: $mainGreen;
}
@media screen and (max-width: 670px){
    header{
        min-height: 500px;
    }
}