@font-face {
    src: url('./fonts/Oswald/Oswald-Regular.ttf') format("truetype");
    font-family: "Oswald";
    font-style: oblique 20deg 50deg;
}
@font-face {
    src: url("./fonts/Roboto/Roboto-Regular.ttf") format("truetype");
    font-family: "Roboto";
}

@font-face {
    src: url("./fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
    font-family: "OpenSans";
}

@font-face {
    src: url("./fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf") format("truetype");
    font-family: "Condensed";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$mainBlack: #222;
$mainGreen: #82b340;
$mainWhite: #fff;
$mainGrey: #d8d8d8;
$mainGray: rgb(199, 199, 199);

body {
    background: $mainGrey;
    color: #222;
    font-family: 'Condensed', sans-serif;
}